* {
    margin: 0;
    padding: 0;
}

.fist_page {
    background: url('Screenshot_1.png') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.content {
    margin-left: 8rem;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15%;
}

.princ_content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_fistpage{
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle_fistpage{
    color: white;
    font-size: 2rem;
    width: 900px;
}

.btn_direct{
    color: black;
    background-color: white;
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
    text-decoration: none;
}

.btn_direct:hover{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.39);
    transform: scale(1.05);
    transition: 0.2s;
}

.img_content{
    height: 500px;
    width: 500px;
}