* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.first_page {
    background: url('../images/background_firstpage.png') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 3px #1f1f1f;
    align-items: center;
}

.content_firstpage {
    margin-left: 8rem;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15%;
}

.princ_content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_fistpage{
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.subtitle_fistpage{
    color: white;
    font-size: 2rem;
    width: 400px;
}

.btn_direct{
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
    text-decoration: none;
}

#btn_first{
    color: black;
    background-color: white;
}

#btn_second{
    color: white;
    background-color: black;
}

#btn_first:hover{
    box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.192);
    transform: scale(1.05);
    transition: 0.2s;
}

#btn_second:hover{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.39);
    transform: scale(1.05);
    transition: 0.2s;
}

.img_content{
    height: 500px;
}

.second_page {
    background: url(../images/background_secondpage.png) no-repeat center center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_secondpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text_logo{
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 10px;
    color: black;
}

.subtitle_secondpage{
    font-size: 1rem;
    color: black;
}

.commect_subtitle{
    color: black;
}

.videoloop{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.39);
    width: 50%;
    height: 30%;
    margin: 25px 0 25px 0;
}

.third_page{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_thirdpage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100%;
    width: 90%;
    margin: 0 20px 0 20px;
}

.item{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 0.2s;
    width: 100%;
    padding: 10px;
}

.item:hover{
    background-color: rgba(0, 0, 255, 0.432);
    height: 50%;
    transform: scale(1.4);
    transition: 0.5s;
}

.item > h3{
    margin: 20px 0 10px 0;
}